# Problem Set 2
#### Question 1
#### Consider the following Python module:

a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

After importing the module into the interpreter, you execute:
b()
b()
b()
a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [3]:
a = 0 #global varibale a=0
def b():
 global a #accesing a 
 a = c(a) #passing value and store return value to global variable a
def c(a):
 return a + 2 #local a variable

In [5]:
b() #a=0 -> a=c(0)=2=0+2
b() #a=2 -> a=c(2)=4=2+2
b() #a=4 -> a=c(4)=6=4+2
a

6

# Question2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
#### >>> fileLength('midterm.py')
284
#### >>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
    
# >>> fileLength('midterm.py')
358
# >>> fileLength('idterm.py')
File idterm.py not found.

In [6]:
def fileLength(filename):
    try:
        contents = open(filename) # Open file
        data=contents.read() # read File contents
        length = len(data) #find the length of data using len() 
        print(f"Length of {filename1}:",length) #print Len
    except FileNotFoundError:
        print(f"File {filename} not found.") #Exception Message when file is not found

filename1 ="midterm.py" #file present
filename2 ="idterm.py" #name is not correct

fileLength(filename1)
fileLength(filename2)

Length of midterm.py: 192
File idterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:
#### >>> m = Marsupial()
#### >>> m.put_in_pouch('doll')
#### >>> m.put_in_pouch('firetruck')
#### >>> m.put_in_pouch('kitten')
#### >>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
#### >>> k = Kangaroo(0,0)
#### >>> print(k)
I am a Kangaroo located at coordinates (0,0)
#### >>> k.put_in_pouch('doll')
#### >>> k.put_in_pouch('firetruck')
#### >>> k.put_in_pouch('kitten')
#### >>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
#### >>> k.jump(1,0)
#### >>> k.jump(1,0)
#### >>> k.jump(1,0)
#### >>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [7]:
class Marsupial: #parent Class
    def __init__(self): #constructor
        self.pouch = [] #blank list for tags
 
    def put_in_pouch(self, item): #function
        self.pouch.append(item) #append the data

    def pouch_contents(self):
        return self.pouch #return data

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Call the parent class constructor
        self.x = x #variable assignment
        self.y = y #variable assignment 

    def jump(self, dx, dy):
        self.x += dx #add jump cordniates to original position
        self.y += dy #add jump cordniates to original position

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})" #print initial cordinates

m = Marsupial() #ceated object
m.put_in_pouch('doll') #insert data
m.put_in_pouch('firetruck') #insert data
m.put_in_pouch('kitten') #insert data
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0) #initial position Constructor 
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll') #method called of parent class
k.put_in_pouch('firetruck') #method called of parent class
k.put_in_pouch('kitten') #method called of parent class
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
        洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦nx = {
        3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
#### >>> collatz(1)
1
#### >>> collatz(10)
10
5
16
8
4
2
1

In [27]:
def collatz(x):
    print(x)
    if x == 1: #if value of x is 1 then we have to exit the recursion 
        return
    if x % 2 == 0: #check the if value is even then
        collatz(x // 2) 
    else: # condition of odd value of x
        collatz(3 * x + 1)


collatz(1)#Output : 1
print()# for blank line to seprate two output
collatz(10)#Output :10 5 16 8 4 2 1

1

10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
#### >>> binary(0)
0
#### >>> binary(1)
1
#### >>> binary(3)
11
#### >>> binary(9)
1001

In [ ]:
def binary(n):
    if n > 1: #condition checking if n is > 1
        binary(n // 2) #recusion
    print(n % 2, end='') #end='' for printing output on the same line

binary(0)
print()  # Print a newline to separate results
binary(1)
print() # Print a newline to separate results
binary(3) 
print() # Print a newline to separate results
binary(9)

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
#### >>> infile = open('w3c.html')
#### >>> content = infile.read()
#### >>> infile.close()
#### >>> hp = HeadingParser()
#### >>> hp.feed(content)
W3C Mission
Principles

In [5]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0 #indentation
        self.headings = [] #blank tags to store

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1:].isdigit(): #match tag with initial "h"  and check if digit is present 
            self.in_heading = True #heading tag is confirmed 
            self.heading_level = int(tag[1:]) #indentation level

    def handle_data(self, data):
        if self.in_heading:
            indentation = " " * (self.heading_level - 1) #indentation level
            heading_text = f"{indentation}{data.strip()}" #text of heading
            self.headings.append(heading_text) #add to list

    def handle_endtag(self, tag):
        if self.in_heading:
            self.in_heading = False

    def print_headings(self):
        for heading in self.headings: #print Every heading in the list 
            print(heading)

# Usage example
if __name__ == '__main__':
    with open('w3c.html', 'r') as infile: #open file in reading mode
        content = infile.read() #read the file 

    hp = HeadingParser()
    hp.feed(content) #provide content
    hp.print_headings() #print the total headings content

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
#### >>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [10]:
import requests
from bs4 import BeautifulSoup

In [11]:
def webdir(url, depth, indent=0):
    if depth < 0: # condition chefcking of positive depth number 
        return

    try: # might get exception so try block 
        response = requests.get(url) #get URL
        response.raise_for_status() #checks the HTTP status code of the response. 
        soup = BeautifulSoup(response.text, 'html.parser') #object created

        print(" " * indent + url) #print URL with Indentation

        if depth > 0: #for positive depth
            links = soup.find_all('a') # Find and store all Anchor Tags into links
            for link in links:
                href = link.get('href') #retrive href value
                if href and href.startswith('http'): #condition checking for http 
                    webdir(href, depth - 1, indent + 2) #if the URL is external then reduce the depth and increase indentation

    except Exception as e:
        print(" " * indent + f"Error accessing {url}: {e}") #exception message

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) #Function calling

Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [29]:
%load_ext sql #load SQL module
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [30]:
%%sql 
CREATE TABLE IF NOT EXISTS weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);
#create the table for the specific schema

 * sqlite://
Done.

[]

In [23]:
%%sql
INSERT INTO weather (City, Country, Season, Temperature, Rainfall)
VALUES
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5); #insert the data into table

 * sqlite://
12 rows affected.

[]

In [24]:
%%sql
SELECT * FROM weather #retrive the all data(raws) from weather table

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [25]:
# a) All the temperature data.
print("Temperature Data Information")
Temp = %sql SELECT Temperature FROM weather
print(Temp) #select Temperture column

# b) All the cities, but without repetition.
print("Information of All the Cities without repetition")
City = %sql SELECT DISTINCT City FROM weather
print(City) #get the unique city from table 

# c) All the records for India.
print("Information of India")
India_Info = %sql SELECT * FROM weather WHERE Country = 'India'
print(India_Info) # filter using coutry ='India' to get all record 

# d) All the Fall records
print("Information of Fall")
Fall_Season_Info = %sql SELECT * FROM weather WHERE Season = 'Fall'
print(Fall_Season_Info) # only fall data using the where condition

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
print("The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
Avg_RainFall = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_RainFall) 

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
print(" The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
Avg_Temprature = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_Temprature)

# g) The total annual rainfall for Cairo.
print("The total annual rainfall for Cairo")
Annual_Rainfall = %sql SELECT City, SUM(Rainfall) AS Total_Annual_Rainfall FROM weather WHERE City = 'Cairo' GROUP BY City
print(Annual_Rainfall)

# h) The total rainfall for each season.
print("The total rainfall for each season")
Total_Rainfall = %sql SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather GROUP BY Season
print(Total_Rainfall)

Temperature Data Information
 * sqlite://
Done.
+-------------+
| Temperature |
+-------------+
|     24.8    |
|     28.4    |
|     27.9    |
|     27.6    |
|     4.2     |
|     8.3     |
|     15.7    |
|     10.4    |
|     13.6    |
|     20.7    |
|     27.7    |
|     22.2    |
+-------------+
Information of All the Cities without repetition
 * sqlite://
Done.
+--------+
|  City  |
+--------+
| Mumbai |
| London |
| Cairo  |
+--------+
Information of India
 * sqlite://
Done.
+--------+---------+--------+-------------+----------+
|  City  | Country | Season | Temperature | Rainfall |
+--------+---------+--------+-------------+----------+
| Mumbai |  India  | Winter |     24.8    |   5.9    |
| Mumbai |  India  | Spring |     28.4    |   16.2   |
| Mumbai |  India  | Summer |     27.9    |  1549.4  |
| Mumbai |  India  |  Fall  |     27.6    |  346.0   |
+--------+---------+--------+-------------+----------+
Information of Fall
 * sqlite://
Done.
+--------+----------------+--------+-------------+----------+
|  City  |    Country     | Season | Temperature | Rainfall |
+--------+----------------+--------+-------------+----------+
| Mumbai |     India      |  Fall  |     27.6    |  346.0   |
| London | United Kingdom |  Fall  |     10.4    |  218.5   |
| Cairo  |     Egypt      |  Fall  |     22.2    |   4.5    |
+--------+----------------+--------+-------------+----------+
The city, country, and season for which the average rainfall is between 200 and 400 millimeters
 * sqlite://
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+
 The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
 * sqlite://
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+
The total annual rainfall for Cairo
 * sqlite://
Done.
+-------+-----------------------+
|  City | Total_Annual_Rainfall |
+-------+-----------------------+
| Cairo |          27.6         |
+-------+-----------------------+
The total rainfall for each season
 * sqlite://
Done.
+--------+--------------------+
| Season |   Total_Rainfall   |
+--------+--------------------+
|  Fall  |       569.0        |
| Spring | 192.29999999999998 |
| Summer |       1706.5       |
| Winter |       230.1        |
+--------+--------------------+

# Question 9
Suppose list words is defined as follows:

#### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [26]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#Words in Uppercase
UC_Words = [word.upper() for word in words] #convert the words into Uppercase with inbulit fun

#Words in Lowercase
LC_Words = [word.lower() for word in words] #convert the words into Uppercase with inbulit fun

#Length of words
Length_of_Words = [len(word) for word in words] #find the length of word with inbulit fun

#List of information with Uppercase, Lowercase and Word Length
Word_Info = [[word.upper(), word.lower(), len(word)] for word in words] # Upper and lower case word with length

#Words with 4 or more characters
More_Ch_Words = [word for word in words if len(word) >= 4] #print only words with 4 or more char

print(UC_Words)
print()
print(LC_Words)
print()
print(Length_of_Words)
print()
print(Word_Info)
print()
print(More_Ch_Words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']